<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="iNKORE.UI.WPF.Modern" version="0.9.27" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.2420.47" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>